@font-face {
  font-family: Sweet;
  src: url(../Estilo/Sweet\ Toffee.ttf);
}

@font-face {
  font-family: Sono;
  src: url(../Estilo/Sono-Regular.woff2);
}

h1 {
  font-family: Sweet;
  text-decoration: underline;
  background-image: url(../imagen/panda.jpg);
  width:100%;
}

p {
  font-family: Sono;
}
h2:nth-of-type(1) {
    background-color: blue;

}
h3:nth-of-type(1) {
    background-color: blue;

}


h4 {
  color: gold;
  text-shadow: 2px 2px 18px black;
  text-align: center;
  text-transform: uppercase;
}

p:nth-of-type(1) {
  background-color: aqua;
}

p:nth-of-type(2) {
  background-color: darkseagreen;
}
a:hover {
    background-color: blueviolet;
    transition: background-color 0.5s;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: dodgerblue;
  padding: 10px;
}

.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.nav_grid{
    grid-column-start: 1;
    grid-column-end: 4;
}

.content_grid{
    grid-column-start: 1;
    grid-column-end: 3;
}

.sidebar_grid{
    grid-column: 3;
    grid-row: 2/ span 3;
}

.footer_grid{
    grid-column-start: 1;
    grid-column-end: 4;
}
.flex_container{
    display: flex;
    background-color: burlywood;
    justify-content: center;
    flex-direction: row;
}

.flex_container div{
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}
p:hover{
    background-color: cornflowerblue;
    transition: background-color 0.5s;
}
@media print{
     .my_photo{
        display: none;
     }

     
}

@media screen and (min-width:769px) and (max-width:1024px) {
    
    #cover{
        width: 50%;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    
   #cover{
        width: 80%;
        background-color: red;
    }
}
ul li:first-child {
    background-color: brown;
    font-weight: bold;
    font-style: italic;

    
}


.my_photo{
  width: 200px;
}
